@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Cadete
<h2>Modificar Cadete</h2>

<form asp-action="Modify" asp-controller="Cadete" method="post">
    <fieldset>
        <div>
            <input hidden name="id" type="text" value="@Model.Id" />
        </div>
        <div class="mb-3">
            <label for="disabledText" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="disabledText" class="form-control" value="@Model.Nombre">
        </div>
        <div class="mb-3">
            <label for="disabledText" class="form-label">Direccion</label>
            <input type="text" name="direccion" id="disabledText" class="form-control" value="@Model.Direccion ">
        </div>
        <div class="mb-3">
            <label for="disabledText" class="form-label">Telefono</label>
            <input type="text" name="tel" id="disabledText" class="form-control" value=" @Model.Telefono">
        </div>

        <button type="submit" class="btn btn-primary">Modificar</button>
    </fieldset>
</form>