@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ver Listado de Cadetes";
}
@model List<TP3_LunaClaraso.Models.Cadete>
<!--TABLA DE CADETES-->
<h5>LISTADO DE CADETES </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Cadete" asp-action="AltaCadete"><button type="button" class="btn btn-success">Añadir Cadete</button></a>
