@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ver Clientes";
}
@model List<TP3_LunaClaraso.Models.Cliente>
<!--TABLA DE CLIENTES-->
<h5>LISTADO DE CLIENTES </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Cliente</th>
            <th scope="col">Direccion del Cliente</th>
            <th scope="col">Teléfono del Cliente</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <th scope="row">@item.Nombre</th>
            <td>@item.Direccion</td>
            <td>@item.Telefono</td>
            
        </tr>
        }
    </tbody>
</table>
